<form method="get">
    <fieldset>
        <label for="name">Name</label><input name="name" type="text" value="{{ values.name}}" />
        <label for="hex">Hexadecimal Value</label><input name="hex" type="text" value="{{ values.hex}}" />
        <label for="price">Price</label><input name="price" type="text" value="{{ values.price }}" />
        <input name="submit" type="submit" value="Save" />
        <input name="delete" type="submit" value="Eliminar" />
    </fieldset>
</form>