<div style="background-color: {{ color.hex }};height: 10px;width: 10px;border: 1px solid #000"></div>
<div><strong>Nombre: </strong>{{ color.name }}</div>
<div><strong>Precio:</strong>{{ color.precio }}</div>