<form method="get">
    <fieldset>
        <label for="key">Key</label><input name="key" type="text" value="{{ form.key }}" />
        <label for="value">Value</label><input name="value" type="text" value="{{ form.value }}" />
        <label for="filter">Filter</label><input name="filter" type="text" value="{{ form.filter }}" />
        <input name="submit" type="submit" value="search" />
    </fieldset>
</form>