<table>
    <tr>
        <th>Clave</th>
        <th>Valor</th>
    </tr>
    {% for key,value in countries %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
</table>